<?php
/** @var \Grow\War2\Block\Board $block */
?>
<style>
    .card {
        /* Add shadows to create the "card" effect */
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        max-width: 200px;
        float: left;
        margin: 10px;
    }
    /* On mouse-over, add a deeper shadow */
    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    /* Add some padding inside the card container */
    .card .container {
        padding: 2px 16px;
    }
    .panel {
        float: left;
    }
    .diceHistory {
        min-width: 400px;
    }
    .gameHistory {
        background-color: #000;
    }
    .gameHistory h1 {
        font-size: 20px;
        color: yellow;
    }
    .gameHistory .content {
        overflow: visible;
        height: 400px;
        min-height: 400px;
        width: auto;
        overflow-y: auto;
        color: white;
    }
    p.clear {
        clear: both;
    }
    .selected {
        border-color: #000;
        border-width: medium;
        border-style: dotted;
    }
    .dice-area {
        min-width: 200px;
        max-width: 200px;
    }
    .right {
        float: right;
    }
    .left {
        float: left;
    }
    .hide {
        display: none;
    }
    .red {
        color: red;
    }
    .yellow {
        color: yellow;
    }
</style>
<h2>Olá, <?=$block->getPlayerName()?></h2>

<div class="actions-toolbar">
    <div class="primary">
        <button id="btnObjective" title="<?= $block->escapeHtmlAttr(__('Ver/Esconder Objetivo')) ?>" class="action submit primary">
            <span><?= $block->escapeHtml(__('Ver/Esconder Objetivo')) ?></span>
        </button>

        <div class="objective-card hide"><img src=<?=$block->getObjectiveImage()?> alt="Avatar"><div class="container"></div></div>
    </div>
</div>

<div id="cardsContainer">
</div>

<p class="clear"></p>

<div class="actions-toolbar left">
    <div class="primary">
        <button id="useCards" title="<?= $block->escapeHtmlAttr(__('Usar Cartas')) ?>" class="action submit primary">
            <span><?= $block->escapeHtml(__('Usar Cartas')) ?></span>
        </button>
    </div>
</div>

<div class="actions-toolbar left">
    <div class="primary">
        <button id="askCards" title="<?= $block->escapeHtmlAttr(__('Pedir Cartas')) ?>" class="action submit primary">
            <span><?= $block->escapeHtml(__('Pedir Cartas')) ?></span>
        </button>
    </div>
</div>

<div class="actions-toolbar right">
    <div class="primary">
        <button id="nextTurn" title="<?= $block->escapeHtmlAttr(__('Passar a vez')) ?>" class="action submit primary">
            <span><?= $block->escapeHtml(__('Passar a vez')) ?></span>
        </button>
    </div>
</div>


<p class="clear"></p>

<div class="dice-area">
    <div class="field name required">
        <label class="label" for="name"><span><?= $block->escapeHtml(__('Quantidade')) ?></span></label>
        <div class="control">
            <input type="number" value="1" min="1" max="3" name="quantity" id="quantity" maxlength="1" />
        </div>
    </div>
    <div class="actions-toolbar">
        <div class="primary">
            <button id="rollDice" title="<?= $block->escapeHtmlAttr(__('Jogar Dados')) ?>" class="action submit primary">
                <span><?= $block->escapeHtml(__('Jogar Dados')) ?></span>
            </button>
        </div>
    </div>
</div>

<p class="clear"></p>

<div id="players">
    <span><?= $block->escapeHtml(__('Selecione quem você vai atacar')) ?>:</span> <br>
    <input type="radio" class="radio-input" name="allowed" value="" checked>
    <label class="label" for="name"><span><?= $block->escapeHtml(__('Ninguém')) ?></span></label>
    <?php foreach ($block->getOtherPlayers() as $otherPlayer): ?>
        <input type="radio"  name="allowed" value="<?=$otherPlayer->getId()?>" data-enemy-name="<?=$otherPlayer->getName()?>" >
        <label class="label" for="name"><span><?= $block->escapeHtml($otherPlayer->getName()) ?></span></label>
    <?php endforeach;?>
</div>

<p class="clear"></p>

<div id="panel">
    <div class="gameHistory">
        <h1>Game History</h1>
        <div id="gameResume" class="content"></div>
    </div>
</div>

<script>
    require(['jquery', 'ko'], function($, ko) {

        const board =  {
            playerId: '<?=$block->getLoggedPlayer()->getId()?>',
            activePlayerData: <?=$block->getActivePlayerData()?>,
            enemyPlayerId: '',
            cards: [],
            cardsActive: [],
            template: "<div id='$id$' class='card'><img src='<?=$block->getImageUrl('')?>$image$' alt='Avatar'><div class='container'></div></div>",
            playerName: '<?=$block->getPlayerName()?>',
            cardsContainer: $('#cardsContainer'),
            historySize: 0,

            init: function() {
                this.handleEvents();
                this.disableActions();
            },
            handleEvents: function() {
                var self = this;
                $("#askCards").click(function () {
                    self.askCards();
                });

                $("#useCards").click(function () {
                    self.useCard();
                });

                $("#cardsContainer").on("click", "div.card", function () {
                    $(this).toggleClass("selected");
                });

                $("#rollDice").click(function () {
                    self.rollDice();
                });

                $("#btnObjective").click(function () {
                    $( ".objective-card" ).toggle();
                });

                $("#nextTurn").click(function () {
                    self.changePlayer();
                });

                $("input[name='allowed']").change(function() {
                    self.setEnemy($(this).val());
                })
            },
            disableActions: function () {
                $('#useCards').prop('disabled', true);
                $('#askCards').prop('disabled', true);
                $('#nextTurn').prop('disabled', true);
                $('#rollDice').prop('disabled', true);
                $(':radio').prop('disabled', true);
            },
            enableActions: function () {
                $('#useCards').prop('disabled', false);
                $('#askCards').prop('disabled', false);
                $('#nextTurn').prop('disabled', false);
                $('#rollDice').prop('disabled', false);
                $(':radio').prop('disabled', false);
            },
            updateGameHistory: function (html) {
                $.ajax({
                    showLoader: true,
                    url: '<?=$block->getUrl('war2/index/logger')?>',
                    type: "POST",
                    data: {'content': html},
                    cache: false
                }).done(function (data) {
                    $('#gameResume').append(html);
                });
            },
            changePlayer: function () {
                var self = this;
                $.ajax({
                    showLoader: true,
                    url: '<?=$block->getUrl('war2/index/next')?>',
                    type: "GET",
                    cache: false
                }).done(function (data) {
                    board.updateGameHistory(board.playerName + ': Passando a vez para o próximo jogador');
                    board.updateGameHistory('Agora é a vez de <b>' + data.nextPlayer.name + '</b> jogar. Anda logo!')
                });
                board.disableActions();
            },
            getGameHistory: function () {
                var self = this;
                $.ajax({
                    showLoader: false,
                    url: '<?=$block->getUrl('war2/index/history')?>',
                    type: "GET",
                    cache: false
                }).done(function (data) {
                    if (self.historySize !== data.size) {
                        $('#gameResume').html(data.content);
                        self.historySize = data.size;
                    }
                });
            },
            getMyTurn : function () {
                var self = this;
                $.ajax({
                    showLoader: false,
                    url: '<?=$block->getUrl('war2/index/active')?>',
                    type: "GET",
                    cache: false
                }).done(function (data) {
                    self.activePlayerData = data.player;
                    if (self.playerId === data.player.id) {
                        board.enableActions();
                    }
                });
            },
            getEnemy: function () {
                var self = this;
                $.ajax({
                    showLoader: false,
                    url: '<?=$block->getUrl('war2/index/getenemy')?>',
                    type: "GET",
                    cache: false
                }).done(function (data) {
                    board.enemyPlayerId = data.enemy.id;
                    board.enableDiceButton();
                });
            },
            enableDiceButton: function () {
                if (board.enemyPlayerId === board.playerId) {
                    $('#rollDice').prop('disabled', false);
                } else {
                    $('#rollDice').prop('disabled', true);

                }
            },
            setEnemy: function (enemyId) {
                var self = this;
                $.ajax({
                    showLoader: true,
                    url: '<?=$block->getUrl('war2/index/setenemy')?>',
                    type: "POST",
                    data: {enemyId: enemyId},
                    cache: false
                }).done(function (data) {
                    board.enemyPlayerId = enemyId;
                    var htmlContent = "O jogador <b class='red'>" + self.activePlayerData.name + "</b> vai atacar <b class='yellow'>" + data.enemy.name + "</b>";
                    board.updateGameHistory(htmlContent);
                });
            },
            useCard: function () {
                var usedCards = [];
                var htmlContent = board.playerName + ": usou as seguinte(s) carta(s)";

                $(".card.selected").each(function (index, el) {
                    var idx = board.cardsActive.indexOf(parseInt($(el).attr('id')));
                    if (idx != -1) {
                        board.cardsActive.splice(idx, 1);
                    }
                    htmlContent += '<img width="20%" src=' + $(el).find('img').attr('src') + '>';
                    usedCards.push(parseInt($(el).attr('id')));
                    $(el).remove();
                });

                $.ajax({
                    showLoader: true,
                    url: '<?=$block->getUrl('war2/index/useCard')?>',
                    type: "POST",
                    data: {'usedCard': usedCards},
                    cache: false
                }).done(function (data) {
                    board.updateGameHistory(htmlContent);
                });
            },
            askCards: function () {
                var self = this;
                board.cards = [];
                board.activeCards = [];
                board.cardsContainer.html('');
                $.ajax({
                    showLoader: true,
                    url: '<?=$block->getUrl('war2/index/territory')?>',
                    type: "GET",
                    cache: false
                }).done(function (data) {
                    $.each(data.territory, function (i, v) {
                        var cardHtml = board.template.replace('$image$', v.image);
                        cardHtml = cardHtml.replace('$id$', v.id);
                        cardHtml = cardHtml.replace('$id2$', v.id);
                        self.cardsContainer.append(cardHtml);
                        self.cardsActive.push(v.id);
                    });
                    var htmlContent = board.playerName +": pediu cartas";
                    self.updateGameHistory(htmlContent);
                    self.changePlayer();
                });
            },
            rollDice: function () {
                var quantity = parseInt($("#quantity").val());
                if (quantity > 3) {
                    quantity = 3;
                }
                $.ajax({
                    showLoader: true,
                    url: '<?=$block->getUrl('war2/index/dices')?>q/' + quantity,
                    type: "GET",
                    cache: false
                }).done(function (data) {
                    var htmlContent = board.playerName +" Jogou:<br>";
                    $.each(data.dice, function (index, obj) {
                        htmlContent += "<img width='100' src='http://roll.diceapi.com/images/poorly-drawn/d6/" + obj.value + ".png'>";
                    });
                    board.updateGameHistory(htmlContent);
                });
            }
        };
        board.init();
        <?php foreach ($block->getTerritoryCards() as $territoryCard): ?>
        var cardHtml = board.template.replace('$image$', '<?=$territoryCard['image']?>');
        cardHtml = cardHtml.replace('$id$', '<?=$territoryCard['id']?>');
        cardHtml = cardHtml.replace('$id2$', '<?=$territoryCard['id']?>');
        board.cardsContainer.append(cardHtml);
        board.cardsActive.push('<?=$territoryCard['id']?>');
        <?php endforeach; ?>

        window.setInterval(function() {
            board.getGameHistory()
        }, 2000);

        window.setInterval(function() {
            var elem = document.getElementById('gameResume');
            elem.scrollTop = elem.scrollHeight;
        }, 5000);

        window.setInterval(function() {
            board.getEnemy();
        }, 5000);

        window.setInterval(function() {
            board.getMyTurn();
        }, 5000);
    });
</script>
